.nav-wrapper, .fab-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 50px;
}

.nav-wrapper {
    z-index: 1;
    border: 1px solid rgba(0,0,0,0.1);
}

.fab-wrapper {
    justify-content: flex-start;
    width: fit-content;
    z-index: 10;
    background-color: transparent;
}

.fab-btn {
    padding: 5px;
    margin: 10px;
    border: none;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all linear 0.25s;
}

.fab-btn:hover{
    background-color: royalblue;
    color: white;
}

.nav-spacer {
    height: 50px;
}

.nav-item {
    margin: 10px;
}

.logo {
    width: 150px;
}

body {
    margin: 0;
    padding: 20px;
}

.ava {
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}