{% extends 'base.html' %}
{% block title %} 404 {% endblock %}
{% block body %}
    <h1>
        Page not found
    </h1>
    <a class="uk-button uk-button-danger" href="{% url 'main:home' %}">
        Return to safety
    </a>
{% endblock %}