{% extends 'base.html' %}
{% block title %} Auth {% endblock %}
{% block body %}
    <h1>
        Auth page
    </h1>
    <form action="{% url 'main:auth' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="uk-margin uk-button uk-button-primary" type="submit">Login</button>
    </form>
    <a class="uk-button uk-button-default" href="{% url 'main:sign_up' %}">Sign up</a>
    <a class="uk-button uk-button-default" href="{% url 'main:reset' %}">Reset password</a>
{% endblock %}