{% extends 'base.html' %}
{% block body %}
    {% block content %}{% endblock %}
    <footer>
        <div class="nav-spacer"></div>
        <div class="fab-wrapper">
            <button class="fab-btn" uk-toggle="target: .nav-wrapper; animation: uk-animation-fade">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="nav-wrapper">
            <div id="inner-nav">
                <a href="{% url 'main:home' %}" class="nav-item">Home</a>
                <a href="{% url 'main:events' %}" class="nav-item">Events</a>
                <a href="{% url 'main:calendars' %}" class="nav-item">Calendars</a>
                <a href="{% url 'main:settings' %}" class="nav-item">Settings</a>
                <a href="{% url 'main:logout' %}" class="nav-item">Logout</a>
            </div>
        </div>
    </footer>
{% endblock %}