{% extends 'authentificated.html' %}
{% block title %} Calendars {% endblock %}
{% block content %}
    <h1>Calendars</h1>
    {% for calendar in calendars %}
        <a href="{% url 'main:calendar_info' calendar.id %}" class="nav-item uk-margin uk-card uk-card-default uk-card-body">{{ calendar.name }}</a>
    {% endfor %}
    <a class="uk-button uk-button-primary" href="{% url 'main:add_calendar' %}">Add calendar</a>
{% endblock %}