{% extends 'authentificated.html' %}
{% block title %} {{ calendar.name }} {% endblock %}
{% block content %}
    <h1>{{ calendar.name }}</h1>
    <div class="col uk-grid-column">
        {% for event in events %}
            <a class="uk-card uk-card-default uk-card-body" style="margin-bottom: 15px" href="{% url 'main:event_info' calendar.id event.id %}">
                {{ event.name }}
            </a>
        {% endfor %}
    </div>
    {% if is_editor %}
        <a class="uk-button uk-button-primary" href="{% url 'main:add_event' calendar.id %}">Add event</a>
    {% endif %}
{% endblock %}