{% extends 'authentificated.html' %}
{% block title %} Create calendar {% endblock %}
{% block content %}
    <h1>Add calendar</h1>
    <form action="{% url 'main:add_calendar' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="uk-button uk-button-primary" type="submit">Create calendar</button>
    </form>
{% endblock %}