{% extends 'base.html' %}
{% block title %} Reset password {% endblock %}
{% block body %}
    <h1>
        Reset password
    </h1>
    <form action="{% url 'main:reset_confirmed' code %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="uk-button uk-margin uk-button-primary">Reset</button>
    </form>
{% endblock %}