{% extends 'authentificated.html' %}
{% block title %} Events page {% endblock %}
{% block content %}
    <h1>Events Page</h1>
    {% for event in events %}
        <li style="color: {{ event.color }}">
            <div>{{ event.name }}</div>
            <div>{{ event.description }}</div>
            <div>Starts: {{ event.start_time }}</div>
            <div>Ends: {{ event.end_time }}</div>
            {% if now.date < event.start_time.date %}
            <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: {{ event.start_time.date | date }}">
                <div>
                    <div class="uk-countdown-number uk-countdown-days"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                    <div class="uk-countdown-number uk-countdown-hours"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                    <div class="uk-countdown-number uk-countdown-minutes"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                    <div class="uk-countdown-number uk-countdown-seconds"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                </div>
            </div>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}