{% extends 'authentificated.html' %}
{% block title %} Create event {% endblock %}
{% block content %}
    <h1>Create event</h1>
    <form action="{% url 'main:add_event' calendar.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="uk-button uk-margin uk-button-primary">Create Event</button>
    </form>
{% endblock %}