{% extends 'authentificated.html' %}
{% block title %} Edit event {% endblock %}
{% block content %}
    <h1>Edit {{ event.name }}</h1>
    <form action="{% url 'main:event_edit' calendar_id event_id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="uk-button uk-margin uk-button-primary">
            Save
        </button>
    </form>
{% endblock %}