{% extends 'authentificated.html' %}
{% block title %} Main page {% endblock %}
{% block content %}
    <h1>Hello, {{ fullname }}</h1>
    <div class="ava">
        {% if avatar.url %}
            <img src="{{ avatar.url }}">
        {% endif %}
    </div>
    <div class="col uk-grid-column">
        <a href="{% url 'main:events' %}" class="nav-item uk-card uk-card-default uk-card-body">Events</a>
        <a href="{% url 'main:calendars' %}" class="nav-item uk-card uk-card-default uk-card-body">Calendars</a>
        <a href="{% url 'main:settings' %}" class="nav-item uk-card uk-card-default uk-card-body">Settings</a>
        <a href="{% url 'main:logout' %}" class="nav-item uk-card uk-card-default uk-card-body">Logout</a>
    </div>
{% endblock %}