{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}
{% block body %}
    <h1>
        Sign up page
    </h1>
    <form action="{% url 'main:sign_up' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="uk-button uk-margin uk-button-primary">Sign up</button>
    </form>

    <a class="uk-button uk-margin uk-button-default" href="{% url 'main:auth' %}">Auth</a>
{% endblock %}